# Análisis de Datos con Python - Enjoy with data

# PANDAS

---
Pandas es una librería open source dedicado al análisis de datos en python ya que nos proporciona estructuras de datos de alto rendimiento

[pandas.pydata.com](https://pandas.pydata.org)

A continuación, se muestra una pequeña muestra de lo que pandas puede hacer, y como podemos jugar con los datos obtenidos desde un fichero.csv



## 1.   Importar la librería de Pandas

In [0]:
import pandas as pd


## 2.   Lectura de documentos

Para este caso, utilizamos la funcion `.read_csv()` que que nuestro fichero esta en este formato pero Pandas puede leer muchos formatos diferentes - 
 [lectura de ficheros](http://pandas.pydata.org/pandas-docs/version/0.24/user_guide/io.html?highlight=read)

In [2]:
fichero = "datos_ejemplo.csv" # ruta del fichero
datos = pd.read_csv(fichero, sep=";") # hay que poner que separador tienen nuestros registros
datos

       age            job   marital  ... euribor3m nr.employed    y
0       56      housemaid   married  ...     4.857      5191.0   no
1       57       services   married  ...     4.857      5191.0   no
2       37       services   married  ...     4.857      5191.0   no
3       40         admin.   married  ...     4.857      5191.0   no
4       56       services   married  ...     4.857      5191.0   no
5       45       services   married  ...     4.857      5191.0   no
6       59         admin.   married  ...     4.857      5191.0   no
7       41    blue-collar   married  ...     4.857      5191.0   no
8       24     technician    single  ...     4.857      5191.0   no
9       25       services    single  ...     4.857      5191.0   no
10      41    blue-collar   married  ...     4.857      5191.0   no
11      25       services    single  ...     4.857      5191.0   no
12      29    blue-collar    single  ...     4.857      5191.0   no
13      57      housemaid  divorced  ...     4.857      5191.0   no
14      35    blue-collar   married  ...     4.857      5191.0   no
15      54        retired   married  ...     4.857      5191.0   no
16      35    blue-collar   married  ...     4.857      5191.0   no
17      46    blue-collar   married  ...     4.857      5191.0   no
18      50    blue-collar   married  ...     4.857      5191.0   no
19      39     management    single  ...     4.857      5191.0   no
20      30     unemployed   married  ...     4.857      5191.0   no
21      55    blue-collar   married  ...     4.857      5191.0   no
22      55        retired    single  ...     4.857      5191.0   no
23      41     technician    single  ...     4.857      5191.0   no
24      37         admin.   married  ...     4.857      5191.0   no
25      35     technician   married  ...     4.857      5191.0   no
26      59     technician   married  ...     4.857      5191.0   no
27      39  self-employed   married  ...     4.857      5191.0   no
28      54     technician    single  ...     4.857      5191.0   no
29      55        unknown   married  ...     4.857      5191.0   no
...    ...            ...       ...  ...       ...         ...  ...
41158   35     technician  divorced  ...     1.035      4963.6  yes
41159   35     technician  divorced  ...     1.035      4963.6  yes
41160   33         admin.   married  ...     1.035      4963.6  yes
41161   33         admin.   married  ...     1.035      4963.6   no
41162   60    blue-collar   married  ...     1.035      4963.6   no
41163   35     technician  divorced  ...     1.035      4963.6  yes
41164   54         admin.   married  ...     1.035      4963.6  yes
41165   38      housemaid  divorced  ...     1.030      4963.6  yes
41166   32         admin.   married  ...     1.030      4963.6  yes
41167   32         admin.   married  ...     1.030      4963.6   no
41168   38   entrepreneur   married  ...     1.030      4963.6   no
41169   62       services   married  ...     1.030      4963.6   no
41170   40     management  divorced  ...     1.030      4963.6   no
41171   33        student   married  ...     1.031      4963.6  yes
41172   31         admin.    single  ...     1.031      4963.6  yes
41173   62        retired   married  ...     1.031      4963.6  yes
41174   62        retired   married  ...     1.031      4963.6  yes
41175   34        student    single  ...     1.031      4963.6   no
41176   38      housemaid  divorced  ...     1.031      4963.6   no
41177   57        retired   married  ...     1.031      4963.6   no
41178   62        retired   married  ...     1.031      4963.6  yes
41179   64        retired  divorced  ...     1.028      4963.6   no
41180   36         admin.   married  ...     1.028      4963.6   no
41181   37         admin.   married  ...     1.028      4963.6  yes
41182   29     unemployed    single  ...     1.028      4963.6   no
41183   73        retired   married  ...     1.028      4963.6  yes
41184   46    blue-collar   married  ...     1.028      4963.6   no
41185   56        retired   married  ...     1.028      4963.6   no
41186   44     technician   married  ...     1.028      4963.6  yes
41187   74        retired   married  ...     1.028      4963.6   no

[41188 rows x 21 columns]

## 3. Conocer con que trabajamos
Es importante saber que Pandas al leer nuestro fichero lo transforma en su principal estructura de datos, los **DataFrame**

Un DataFrame es una estructura de datos tabular de dos dimensiones con etiquetas (filas y columnas)
[Más sobre los DataFrame](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.html)

In [0]:
type(datos)

pandas.core.frame.DataFrame

## 4. Enjoy
Ahora solo queda probar y probar todo el potencial de Pandas, te muestro unos ejemplos

### Motrar las filas que deseemos

**DataFrame.head()** - devolvemos el número de filas que deseemos empezando por el principio de la lista

In [0]:
datos.head(3) # El valor por defecto es 5 datos.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
2,37,services,married,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no

**DataFrame.tail()** - devolvemos el numero de filas que deseemos empezando por el final de la lista

In [0]:
datos.tail(3) # en efecto, el valor por defecto es 5 datos.tail()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
41185,56,retired,married,university.degree,no,yes,no,cellular,nov,fri,...,2,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,no
41186,44,technician,married,professional.course,no,no,no,cellular,nov,fri,...,1,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,yes
41187,74,retired,married,professional.course,no,yes,no,cellular,nov,fri,...,3,999,1,failure,-1.1,94.767,-50.8,1.028,4963.6,no

### Estadística descriptiva
Las estadísticas descriptivas resumen cuantitativamente un conjuto de datos, la manera en la que se muestra estos datos es la siguente:


*   **count** - Recuentos de registros distinitos a `null` de la columna
*   **max** - Máximo valor de la columna
*   **min** - Mínimo valor de la columna
*   **mean** - Media de los valores.
*   **std** - Desviación de los valores
*   **select_types** - Subconjunto de DataFrame donde incluye/excluye columnas basadas en su tipo de dtype

In [10]:
datos.describe()

               age      duration  ...     euribor3m   nr.employed
count  41188.00000  41188.000000  ...  41188.000000  41188.000000
mean      40.02406    258.285010  ...      3.621291   5167.035911
std       10.42125    259.279249  ...      1.734447     72.251528
min       17.00000      0.000000  ...      0.634000   4963.600000
25%       32.00000    102.000000  ...      1.344000   5099.100000
50%       38.00000    180.000000  ...      4.857000   5191.000000
75%       47.00000    319.000000  ...      4.961000   5228.100000
max       98.00000   4918.000000  ...      5.045000   5228.100000

[8 rows x 10 columns]

### Columnas

In [0]:
print(datos.columns)

Index(['age', 'job', 'marital', 'education', 'default', 'housing', 'loan',
       'contact', 'month', 'day_of_week', 'duration', 'campaign', 'pdays',
       'previous', 'poutcome', 'emp.var.rate', 'cons.price.idx',
       'cons.conf.idx', 'euribor3m', 'nr.employed', 'y'],
      dtype='object')

### Tipos de datos de Columnas

In [0]:
datos.dtypes

age                 int64
job                object
marital            object
education          object
default            object
housing            object
loan               object
contact            object
month              object
day_of_week        object
duration            int64
campaign            int64
pdays               int64
previous            int64
poutcome           object
emp.var.rate      float64
cons.price.idx    float64
cons.conf.idx     float64
euribor3m         float64
nr.employed       float64
y                  object
dtype: object

### Mostrar solo una columna

In [11]:
datos.job # nombre de la columna que queremos mostrar

0            housemaid
1             services
2             services
3               admin.
4             services
5             services
6               admin.
7          blue-collar
8           technician
9             services
10         blue-collar
11            services
12         blue-collar
13           housemaid
14         blue-collar
15             retired
16         blue-collar
17         blue-collar
18         blue-collar
19          management
20          unemployed
21         blue-collar
22             retired
23          technician
24              admin.
25          technician
26          technician
27       self-employed
28          technician
29             unknown
             ...
41158       technician
41159       technician
41160           admin.
41161           admin.
41162      blue-collar
41163       technician
41164           admin.
41165        housemaid
41166           admin.
41167           admin.
41168     entrepreneur
41169         services
41170       management
41171          student
41172           admin.
41173          retired
41174          retired
41175          student
41176        housemaid
41177          retired
41178          retired
41179          retired
41180           admin.
41181           admin.
41182       unemployed
41183          retired
41184      blue-collar
41185          retired
41186       technician
41187          retired
Name: job, Length: 41188, dtype: object

### Saber los datos de una fila/s en concreto

In [13]:
print(datos.iloc[32]) # Busqueda concreta de una fila poniendo su numero

age                        49
job               blue-collar
marital               married
education             unknown
default                    no
housing                    no
loan                       no
contact             telephone
month                     may
day_of_week               mon
duration                   73
campaign                    1
pdays                     999
previous                    0
poutcome          nonexistent
emp.var.rate              1.1
cons.price.idx         93.994
cons.conf.idx           -36.4
euribor3m               4.857
nr.employed              5191
y                          no
Name: 32, dtype: object

In [0]:
print(datos.iloc[[10,25,50],0:5]) # Estructura datos.iloc[[Numero/s de filas], rango de columnas]

    age          job  marital          education  default
10   41  blue-collar  married            unknown  unknown
25   35   technician  married  university.degree       no
50   54       admin.  married        high.school       no

In [0]:
print(datos.iloc[10:100,0:5]) # ejemplo con rangos de filas y columnas

    age            job   marital            education  default
10   41    blue-collar   married              unknown  unknown
11   25       services    single          high.school       no
12   29    blue-collar    single          high.school       no
13   57      housemaid  divorced             basic.4y       no
14   35    blue-collar   married             basic.6y       no
15   54        retired   married             basic.9y  unknown
16   35    blue-collar   married             basic.6y       no
17   46    blue-collar   married             basic.6y  unknown
18   50    blue-collar   married             basic.9y       no
19   39     management    single             basic.9y  unknown
20   30     unemployed   married          high.school       no
21   55    blue-collar   married             basic.4y  unknown
22   55        retired    single          high.school       no
23   41     technician    single          high.school       no
24   37         admin.   married          high.school       no
25   35     technician   married    university.degree       no
26   59     technician   married              unknown       no
27   39  self-employed   married             basic.9y  unknown
28   54     technician    single    university.degree  unknown
29   55        unknown   married    university.degree  unknown
30   46         admin.   married              unknown       no
31   59     technician   married              unknown       no
32   49    blue-collar   married              unknown       no
33   54     management   married             basic.4y  unknown
34   54    blue-collar  divorced             basic.4y       no
35   55        unknown   married             basic.4y  unknown
36   34       services   married          high.school       no
37   52     technician   married             basic.9y       no
38   41         admin.   married    university.degree       no
39   56     technician   married             basic.4y       no
..  ...            ...       ...                  ...      ...
70   41     management   married             basic.6y       no
71   44     management  divorced    university.degree       no
72   47         admin.   married    university.degree  unknown
73   57        unknown   married              unknown  unknown
74   37         admin.   married    university.degree  unknown
75   41    blue-collar  divorced             basic.4y  unknown
76   55     technician   married    university.degree       no
77   33       services   married          high.school  unknown
78   55     management   married              unknown  unknown
79   42    blue-collar   married             basic.9y  unknown
80   50    blue-collar   married             basic.4y  unknown
81   51    blue-collar   married             basic.4y  unknown
82   38         admin.   married          high.school  unknown
83   49   entrepreneur   married    university.degree  unknown
84   38     technician    single    university.degree       no
85   31         admin.  divorced          high.school       no
86   41     management   married             basic.6y       no
87   39         admin.   married    university.degree       no
88   49     technician   married             basic.9y       no
89   34         admin.   married          high.school       no
90   35         admin.   married    university.degree       no
91   57        unknown   married              unknown  unknown
92   60         admin.   married              unknown  unknown
93   33     unemployed   married             basic.9y       no
94   42    blue-collar   married             basic.6y       no
95   45       services   married  professional.course       no
96   42     management   married    university.degree       no
97   53         admin.  divorced    university.degree  unknown
98   37     technician    single  professional.course       no
99   44    blue-collar   married             basic.6y       no

[90 rows x 5 columns]

### Filtros

In [0]:
datos[datos.age<=30] # filtrar por los que sean menor o igual de 30

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
8,24,technician,single,professional.course,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
9,25,services,single,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
11,25,services,single,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
12,29,blue-collar,single,high.school,no,no,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
20,30,unemployed,married,high.school,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
59,25,technician,single,university.degree,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
160,24,management,single,university.degree,no,yes,no,telephone,may,mon,...,2,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
178,28,services,married,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
216,30,blue-collar,single,unknown,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
217,30,blue-collar,single,unknown,no,yes,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
244,30,technician,married,university.degree,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
254,28,services,married,unknown,no,no,no,telephone,may,mon,...,2,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
261,27,blue-collar,single,basic.6y,no,unknown,unknown,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
265,27,blue-collar,single,basic.6y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
311,27,admin.,single,university.degree,no,no,no,telephone,may,mon,...,2,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
326,26,admin.,single,university.degree,no,yes,no,telephone,may,mon,...,3,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
330,29,services,single,high.school,no,yes,no,telephone,may,mon,...,2,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
373,22,blue-collar,single,basic.9y,no,yes,no,telephone,may,tue,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
380,30,blue-collar,single,unknown,no,no,no,telephone,may,tue,...,2,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
383,30,student,single,unknown,unknown,no,no,telephone,may,tue,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
388,28,unknown,single,unknown,unknown,yes,yes,telephone,may,tue,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,yes
397,29,blue-collar,divorced,basic.4y,no,no,no,telephone,may,tue,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
412,30,blue-collar,married,basic.9y,no,no,no,telephone,may,tue,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
418,27,services,married,high.school,no,yes,no,telephone,may,tue,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
432,30,self-employed,single,university.degree,no,yes,no,telephone,may,tue,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
433,27,services,single,professional.course,no,yes,yes,telephone,may,tue,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
441,26,housemaid,married,university.degree,no,no,no,telephone,may,tue,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
451,28,student,single,basic.9y,unknown,yes,no,telephone,may,tue,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
473,29,admin.,married,university.degree,unknown,yes,no,telephone,may,tue,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
526,30,services,single,high.school,no,no,no,telephone,may,tue,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41042,25,student,single,high.school,no,yes,no,cellular,oct,mon,...,2,6,3,success,-1.1,94.601,-49.5,1.032,4963.6,yes
41045,30,student,single,high.school,no,yes,no,cellular,oct,tue,...,1,17,2,failure,-1.1,94.601,-49.5,1.037,4963.6,no
41048,25,student,single,high.school,no,yes,no,telephone,oct,tue,...,1,999,0,nonexistent,-1.1,94.601,-49.5,1.037,4963.6,no
41049,21,student,single,high.school,no,no,no,cellular,oct,tue,...,2,999,0,nonexistent,-1.1,94.601,-49.5,1.037,4963.6,yes
41050,30,management,married,university.degree,no,no,no,cellular,oct,wed,...,1,999,0,nonexistent,-1.1,94.601,-49.5,1.043,4963.6,yes
41051,27,technician,single,university.degree,no,no,no,cellular,oct,wed,...,2,999,0,nonexistent,-1.1,94.601,-49.5,1.043,4963.6,no
41053,23,student,single,high.school,no,no,no,cellular,oct,wed,...,1,3,1,success,-1.1,94.601,-49.5,1.043,4963.6,no
41055,27,technician,single,university.degree,no,yes,no,cellular,oct,wed,...,1,999,1,failure,-1.1,94.601,-49.5,1.043,4963.6,yes
41057,30,management,married,university.degree,no,no,yes,cellular,oct,wed,...,1,6,1,success,-1.1,94.601,-49.5,1.043,4963.6,yes
41064,29,technician,single,university.degree,no,no,no,cellular,nov,mon,...,1,4,1,success,-1.1,94.767,-50.8,1.050,4963.6,no
41065,29,technician,single,university.degree,no,no,no,telephone,nov,mon,...,1,3,2,success,-1.1,94.767,-50.8,1.050,4963.6,yes
41068,29,admin.,single,high.school,no,yes,no,telephone,nov,mon,...,1,6,1,success,-1.1,94.767,-50.8,1.050,4963.6,no
41072,24,student,single,high.school,no,yes,yes,cellular,nov,mon,...,1,999,0,nonexistent,-1.1,94.767,-50.8,1.050,4963.6,no
41080,27,student,single,high.school,no,no,yes,cellular,nov,tue,...,1,999,0,nonexistent,-1.1,94.767,-50.8,1.049,4963.6,no
41083,24,technician,single,university.degree,no,yes,yes,cellular,nov,tue,...,3,6,3,failure,-1.1,94.767,-50.8,1.049,4963.6,yes
41084,18,student,single,unknown,no,yes,no,cellular,nov,tue,...,2,999,3,failure,-1.1,94.767,-50.8,1.049,4963.6,no
41087,30,blue-collar,single,professional.course,no,yes,no,cellular,nov,tue,...,2,999,0,nonexistent,-1.1,94.767,-50.8,1.049,4963.6,no
41088,18,student,single,basic.4y,no,yes,no,telephone,nov,tue,...,1,13,2,success,-1.1,94.767,-50.8,1.049,4963.6,yes
41094,19,student,single,basic.9y,no,yes,no,cellular,nov,wed,...,1,999,1,failure,-1.1,94.767,-50.8,1.048,4963.6,no
41096,28,services,married,high.school,no,yes,no,cellular,nov,wed,...,3,999,2,failure,-1.1,94.767,-50.8,1.048,4963.6,no
41098,29,student,single,high.school,no,yes,yes,cellular,nov,thu,...,1,3,3,success,-1.1,94.767,-50.8,1.050,4963.6,yes
41117,29,technician,single,professional.course,no,no,no,cellular,nov,tue,...,2,1,1,success,-1.1,94.767,-50.8,1.046,4963.6,yes
41133,28,self-employed,single,university.degree,no,yes,no,cellular,nov,thu,...,2,6,3,success,-1.1,94.767,-50.8,1.041,4963.6,no
41134,25,student,single,high.school,no,no,no,cellular,nov,thu,...,1,999,0,nonexistent,-1.1,94.767,-50.8,1.041,4963.6,yes
41143,29,technician,single,professional.course,no,no,yes,cellular,nov,fri,...,1,6,2,success,-1.1,94.767,-50.8,1.040,4963.6,no
41145,26,admin.,single,university.degree,no,no,no,cellular,nov,fri,...,3,999,0,nonexistent,-1.1,94.767,-50.8,1.040,4963.6,yes
41147,25,technician,single,professional.course,no,yes,no,cellular,nov,fri,...,2,19,1,success,-1.1,94.767,-50.8,1.040,4963.6,yes
41149,30,admin.,single,university.degree,no,yes,no,cellular,nov,mon,...,2,999,0,nonexistent,-1.1,94.767,-50.8,1.039,4963.6,no
41152,26,management,single,university.degree,no,yes,no,cellular,nov,mon,...,5,999,0,nonexistent,-1.1,94.767,-50.8,1.039,4963.6,no
41182,29,unemployed,single,basic.4y,no,yes,no,cellular,nov,fri,...,1,9,1,success,-1.1,94.767,-50.8,1.028,4963.6,no

In [0]:
# La funcion .isin devuelve los registros que se encuentran en los valores de su interior
datos[datos["age"].isin([20,32,62])] # los registros cuya edad son 20 o 32 o 62

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
41,32,entrepreneur,married,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
124,32,admin.,married,university.degree,no,yes,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
201,32,services,single,basic.6y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
232,32,management,divorced,basic.4y,unknown,yes,no,telephone,may,mon,...,2,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
246,32,technician,single,professional.course,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
273,32,admin.,single,high.school,no,no,no,telephone,may,mon,...,2,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
341,32,services,single,high.school,no,yes,no,telephone,may,mon,...,3,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
357,32,blue-collar,married,basic.9y,no,no,no,telephone,may,mon,...,2,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
442,32,blue-collar,divorced,basic.9y,unknown,no,no,telephone,may,tue,...,2,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
464,32,services,married,high.school,no,no,no,telephone,may,tue,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
486,32,admin.,single,university.degree,unknown,no,no,telephone,may,tue,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
494,32,admin.,single,university.degree,unknown,unknown,unknown,telephone,may,tue,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
515,32,technician,married,unknown,unknown,yes,no,telephone,may,tue,...,2,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
543,32,entrepreneur,single,university.degree,no,yes,no,telephone,may,tue,...,2,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
577,32,services,married,high.school,unknown,no,yes,telephone,may,tue,...,2,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
590,32,technician,married,professional.course,no,no,no,telephone,may,tue,...,3,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
592,32,admin.,married,university.degree,no,no,no,telephone,may,tue,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
600,32,admin.,single,university.degree,no,yes,yes,telephone,may,tue,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
604,32,admin.,single,university.degree,no,yes,no,telephone,may,tue,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
605,32,admin.,single,university.degree,no,no,no,telephone,may,tue,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
637,32,admin.,single,university.degree,no,no,no,telephone,may,tue,...,2,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
650,32,housemaid,married,high.school,no,yes,no,telephone,may,tue,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
651,32,housemaid,married,high.school,no,no,no,telephone,may,tue,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
668,32,blue-collar,married,basic.9y,no,yes,no,telephone,may,tue,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
754,32,services,married,high.school,no,no,no,telephone,may,tue,...,3,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
778,32,admin.,married,high.school,no,yes,no,telephone,may,wed,...,2,999,0,nonexistent,1.1,93.994,-36.4,4.856,5191.0,no
898,32,management,married,basic.6y,no,no,no,telephone,may,wed,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.856,5191.0,no
905,32,technician,single,professional.course,no,no,no,telephone,may,wed,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.856,5191.0,no
919,32,services,single,high.school,no,yes,no,telephone,may,wed,...,2,999,0,nonexistent,1.1,93.994,-36.4,4.856,5191.0,no
938,32,admin.,single,university.degree,unknown,yes,no,telephone,may,wed,...,3,999,0,nonexistent,1.1,93.994,-36.4,4.856,5191.0,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40812,32,technician,married,high.school,no,no,no,cellular,sep,thu,...,1,999,0,nonexistent,-1.1,94.199,-37.5,0.878,4963.6,no
40831,32,admin.,married,high.school,no,no,no,cellular,sep,mon,...,2,999,0,nonexistent,-1.1,94.199,-37.5,0.879,4963.6,no
40833,32,admin.,single,university.degree,no,yes,no,cellular,sep,mon,...,4,999,0,nonexistent,-1.1,94.199,-37.5,0.879,4963.6,no
40834,32,admin.,married,high.school,no,yes,no,cellular,sep,mon,...,2,999,1,failure,-1.1,94.199,-37.5,0.879,4963.6,no
40838,32,admin.,married,high.school,no,yes,no,cellular,sep,mon,...,1,999,0,nonexistent,-1.1,94.199,-37.5,0.879,4963.6,yes
40840,32,admin.,single,university.degree,no,yes,no,cellular,sep,mon,...,4,999,0,nonexistent,-1.1,94.199,-37.5,0.879,4963.6,no
40841,32,admin.,single,university.degree,no,yes,no,telephone,sep,tue,...,1,999,0,nonexistent,-1.1,94.199,-37.5,0.880,4963.6,no
40859,32,admin.,single,university.degree,no,no,no,cellular,oct,fri,...,1,999,2,failure,-1.1,94.601,-49.5,0.942,4963.6,no
40860,32,admin.,single,university.degree,no,yes,no,cellular,oct,fri,...,1,999,3,failure,-1.1,94.601,-49.5,0.942,4963.6,no
40866,32,technician,married,professional.course,no,no,no,cellular,oct,wed,...,1,3,1,success,-1.1,94.601,-49.5,0.959,4963.6,yes
40867,32,technician,married,professional.course,no,no,no,cellular,oct,wed,...,1,999,0,nonexistent,-1.1,94.601,-49.5,0.959,4963.6,yes
40872,32,technician,married,professional.course,no,yes,no,cellular,oct,wed,...,2,999,0,nonexistent,-1.1,94.601,-49.5,0.959,4963.6,yes
40873,32,admin.,married,high.school,no,yes,no,telephone,oct,wed,...,1,999,0,nonexistent,-1.1,94.601,-49.5,0.959,4963.6,no
40878,32,technician,married,professional.course,no,no,no,cellular,oct,wed,...,2,14,4,failure,-1.1,94.601,-49.5,0.959,4963.6,no
40888,62,blue-collar,married,unknown,no,no,no,cellular,oct,fri,...,3,999,0,nonexistent,-1.1,94.601,-49.5,0.972,4963.6,no
40897,32,services,single,university.degree,no,yes,no,cellular,oct,fri,...,2,999,2,failure,-1.1,94.601,-49.5,0.972,4963.6,no
40923,20,student,single,unknown,no,no,no,cellular,oct,mon,...,3,999,3,failure,-1.1,94.601,-49.5,0.977,4963.6,no
40929,20,student,single,unknown,no,yes,yes,cellular,oct,tue,...,1,3,4,success,-1.1,94.601,-49.5,0.982,4963.6,yes
40935,20,student,single,unknown,no,no,no,telephone,oct,tue,...,1,999,1,failure,-1.1,94.601,-49.5,0.982,4963.6,no
41044,62,admin.,married,high.school,no,no,no,cellular,oct,tue,...,1,4,3,success,-1.1,94.601,-49.5,1.037,4963.6,yes
41047,62,admin.,married,high.school,no,no,no,cellular,oct,tue,...,4,18,2,failure,-1.1,94.601,-49.5,1.037,4963.6,yes
41105,32,admin.,single,high.school,no,no,no,cellular,nov,mon,...,2,19,2,failure,-1.1,94.767,-50.8,1.048,4963.6,no
41106,32,admin.,single,high.school,no,no,no,cellular,nov,mon,...,2,999,2,failure,-1.1,94.767,-50.8,1.048,4963.6,no
41107,32,admin.,single,high.school,no,yes,no,cellular,nov,mon,...,2,999,1,failure,-1.1,94.767,-50.8,1.048,4963.6,no
41166,32,admin.,married,university.degree,no,no,no,telephone,nov,wed,...,1,999,1,failure,-1.1,94.767,-50.8,1.030,4963.6,yes
41167,32,admin.,married,university.degree,no,yes,no,cellular,nov,wed,...,3,999,0,nonexistent,-1.1,94.767,-50.8,1.030,4963.6,no
41169,62,services,married,high.school,no,yes,no,cellular,nov,wed,...,5,999,0,nonexistent,-1.1,94.767,-50.8,1.030,4963.6,no
41173,62,retired,married,university.degree,no,yes,no,cellular,nov,thu,...,1,999,2,failure,-1.1,94.767,-50.8,1.031,4963.6,yes
41174,62,retired,married,university.degree,no,yes,no,cellular,nov,thu,...,1,1,6,success,-1.1,94.767,-50.8,1.031,4963.6,yes
41178,62,retired,married,university.degree,no,no,no,cellular,nov,thu,...,2,6,3,success,-1.1,94.767,-50.8,1.031,4963.6,yes

In [0]:
len(datos[datos.age>=85]) # Contar los registros

58

In [14]:
# contar los registros que tienen el tipo de trabajo diferente
datos.job.value_counts()

admin.           10422
blue-collar       9254
technician        6743
services          3969
management        2924
retired           1720
entrepreneur      1456
self-employed     1421
housemaid         1060
unemployed        1014
student            875
unknown            330
Name: job, dtype: int64

In [0]:
datos.job.value_counts().head(4) # Mostrar los cuatro primeros .head(numero)

admin.         10422
blue-collar     9254
technician      6743
services        3969
Name: job, dtype: int64

In [0]:
print("Los dos empleos mas desarrollados son:\n"+str(datos.job.value_counts().head(2))+"\n\nY los menos desarrollados son: \n"+str(datos.job.value_counts().tail(2)))

Los dos empleos mas desarrollados son:
admin.         10422
blue-collar     9254
Name: job, dtype: int64

Y los menos desarrollados son:
student    875
unknown    330
Name: job, dtype: int64

In [0]:
print(datos.age.median()) # mediana de edad

38.0

In [0]:
print(datos.age.mean()) # media de edad

40.02406040594348

In [0]:
print(datos.age.std()) # desviacion estandar

10.421249980934235

In [0]:
print(datos.age.kurtosis()) # curtosis, grado de concentracion de los datos

0.7913115311544336